{% extends 'base.html.twig' %}
 {% block body %}
     {% include 'components/_header.html.twig' %}
     {% include 'components/_navbar.html.twig' %}
     <div class="container mt-4 text-center">
         {% include 'components/mission/_messages_flash.html.twig' %}
         <h1 class="my-5 text-dark text-center">Missions</h1>
         {% if app.user %}
             <a href="/mission/add" class="btn btn-success">Ajouter une nouvelle mission</a>
         {% endif %}
     </div>
             {% if missions is not empty %}
                <div class="gridMission mt-5">
                    <div class="container side mb-5">
                        {% include'components/mission/_filter_form.html.twig' %}
                    </div>
                    <div class="container" id="table">
                        {% include'components/mission/_mission.html.twig' %}
                    </div>
                </div>
                 <div class="d-flex justify-content-center" id="paginator">
                     {% include'components/mission/_pagination.html.twig' %}
                 </div>
             {% else %}
                 <div class="alert alert-dark mt-4 container text-center" style="width: 92%">Il n'y a pas encore de mission ajoutée</div>
             {% endif %}
         </div>
             <div class="mt-5" style="width:100% ">
                 {% include'components/_footer.html.twig' %}
             </div>
     {% block javascripts %}
         <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
         <script>
            const paginator = document.getElementById('paginator')
            const chercheBtn = document.getElementById('chercheBtn')
             chercheBtn.addEventListener('click',loadForm)

             async function loadForm (event){
                 table.innerHTML='<div class="container text-center mt-5"><div class="spinner-border text-primary" role="status">'+
                     '<span class="sr-only">Loading...</span></div></div>'
                 var formData = new FormData(document.querySelector('form'))
                 event.preventDefault()
                 const url = new URL(form.getAttribute('action') || window.location.href)
                 const params = new URLSearchParams()
                 formData.forEach((value,key)=>{
                     params.append(key,value)
                 })
                 const ajax = url.pathname + '?' + params.toString()
                 const response = await fetch(ajax,{
                     headers : {
                         'X-Requested-With' : 'XMLHttpRequest'
                     }
                 })
                     const data = await response.json()
                    table.innerHTML=data.content
                 paginator.innerHTML=data.pagination
             }

         </script>
     {% endblock %}
 {% endblock %}
