{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
 {% block body %}
     {% include 'components/_header.html.twig' %}
     {% include 'components/_navbar.html.twig' %}
     <div class="container mt-4">
         {% include 'components/contact/_messages_flash.html.twig' %}
         <h1 class="my-5 text-dark text-center">Ajouter un contact</h1>
         {% set name='Ajouter' %}
         {% include 'components/contact/_form.html.twig' %}
     </div>
 {% endblock %}